body{
    background-image: url("/img/background.jpg");
}

a:hover{
    text-decoration: none;
}

.section{
    width: 90%;
    margin: 3vh auto;
    padding: 4% 7%;
    background: #cccc;
    min-height: 80vh;
}

.section h1{
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar{
    /*background: #cccd;*/
}

.center{
    display: block;
    text-align: center;
    margin: auto;
}

.danger-text{
    color: red;
}

.err-mess{
    font-size: 80%;
    color: red;
}

.bold{
    font-weight: 700!important;
}
