.form-group{
    width: 500px;
}

.input-group{
    width: 500px;
    font-size: 0.875rem;
}

.input-group > .custom-file{
    height: calc(1.5em + 0.5rem + 2px);
}

.custom-label{
    font-family: -apple-system;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

@media screen and (max-width: 700px){
    .form-group{
        width: 100%;
    }

    .input-group{
        width: 100%;
    }
}